/*089 j3 overrides css*/

/*alg. */
a {
    transition: all .3s ease-in-out;
}
button.btn-navbar:active,
button.btn-navbar:focus,
a:focus,
a:active  {
    outline: none;
    border: none;
    outline: 0;
}
body#body {
    background: #bd0f17;
    -webkit-animation: fadein 0.5s ease-in-out forwards;
            animation: fadein 0.5s ease-in-out forwards;
}

body#body #contentarea,
body#body #contentarea2 {
    background: transparent;
    padding-left: 0px;
}
body#body #wrapper2 {
    float: none;
    padding: 20px 0;
    background: transparent;
}
body#body .jg_element_gal,
body#body .jg_element_gal_r {
    height: auto;
}
body#body div#main h1 {
    text-align: initial;
}
/*top*/
body#body #top {
     margin: 0px; 
    /* overflow: hidden; */
    position: absolute;
    top: 40px;
}
body#body #header-image {
    background: transparent;
}
body#body #header-image {
    min-height: 200px;
}
div#breadcrumbs ul li {
    display: inline-block;
}
ul.breadcrumb {
    padding: 10px 20px;
}
body#body #breadcrumbs a {
	text-decoration: none;
}
body#body #breadcrumbs a:hover {
	background: transparent;
}
body#body #breadcrumbs a:hover span {
	color: red;
}
body#body #breadcrumbs span {
    color: #a2a2a2;
}

/*menu*/
body#body ul.menu li.active ul li a:hover,
body#body ul.menu li.active ul li a:active,
body#body ul.menu li.active ul li a:focus {
	background: transparent !important;
}
body#body ul.menu li.active ul li a:link,
body#body ul.menu li.active ul li a:visited {
	border: none;
}
li.deeper.parent:before {
    content: '';
    position: absolute;
    top: 12px;
    right: -6px;
    width: 0px;
    height: 0px;
    border-top: 5px solid #cd0716;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
nav.mainMenu {
    box-shadow: 0px 0px 40px -15px #333;
}
body#body ul.nav-child li {
    padding: 10px 5px;
}
body#body ul.menu li a:link,
body#body ul.menu li a:visited {
    background: transparent;
}
body#body ul.nav.menu {
	background: transparent;
	border: none;
}
nav.mainMenu ul.nav.menu>li {
    display: inline-block;
    border: none;
}
li.deeper.parent {
    position: relative;
}
body#body ul.nav-child {
    position: absolute;
    width: 190px;
    box-shadow: 2px 10px 30px -10px #7b7b7b;
    border: 1px solid #f8f8f8;
    z-index: 1;
    display: none;
}
body#body ul.nav.menu>li.parent:hover ul.nav-child {
	display: block;
	opacity: 0;
	list-style-type: none;
	-webkit-animation: fadein 0.3s ease-in-out 0.2s forwards;
	        animation: fadein 0.3s ease-in-out 0.2s forwards;
}
    @-webkit-keyframes fadein 
    { from {opacity:0} to {opacity:1} }
    @keyframes fadein 
    { from {opacity:0} to {opacity:1} }

/*content*/

body#body .items-row h2 {
    border: none;
}
body#body .items-row h2 a {
    color: #444 !important;
}
body#body .items-row h2 a:hover {
    color: #fff !important;
}
body#body.itemId-179 #main h1 {
    color: #666;
}
a.footerLink {
    display: inline;
    font-size: 12px;
    text-decoration: none;
    padding: 5px;
}

/*cookie control*/
body#body #cookiesck {
    box-shadow:  0px -11px 40px -5px rgba(0, 0, 0, 0.4);
}
body#body #cookiesck .cookiesck_inner a,
a.cookieImp {
    color: #fff;
    text-decoration: underline;
/*    font-size: 16px;*/
}
body#body #cookiesck_accept {
    background: #fff;
    color: #b4130e;
    float: none;
    width: 90px;
    margin: 20px auto 0px !important;
    border: 1px solid #b4130e;
}
body#body #cookiesck_readmore {
    margin: 1px 0px 1px 1px;
    color: #fff;
    float: none;
    text-decoration: underline;
    padding: 0px;
}
body#body #cookiesck {
    padding: 5px 10px 5px;
/*    font-size: 16px;*/
}
body#body #cookiesck_readmore:hover,
body#body a.cookieImp:hover {
    color: #fff;
    background: transparent;
}
body#body #cookiesck .cookiesck_inner,
a.cookieImp {
    display: initial;
    line-height: 20px;
}
body#body #cookiesck_accept:hover {
    font-size: initial;
    background: #b4130e;
    color: #fff;
    border-color: #fff;
}
@media(max-width: 1280px) {
  body#body.site div#cookiesck span,
  body#body.site div#cookiesck a,
  body#body.site div#cookiesck p {
      font-size: 14px !important;
  }
  body#body.site #cookiesck_readmore {
      padding: 0px !important;
  }
  body#body.site #cookiesck_accept {
      float: none !important;
      margin: 10px auto !important;
  }
  body#body.site #cookiesck {
      text-align: left !important;
      line-height: 25px !important;
  }
}
@media(max-width: 1366px) {
  body#body.mobile #cookiesck_accept {
      width: 80px;
  }
}
