/*089 responsive*/

@media(max-width: 880px) {
	body#body.mobile ul.nav-child {
	    width: 250px;
	}
}
@media(min-width: 1280px) {
/*	body#body #all {
		width: 1024px;
	}*/
}
@media(max-width: 1366px) and (orientation: portrait) {
	
}
@media(max-width: 1366px) and (orientation: landscape) {
	
}
@media(max-width: 1366px) {
	
	body#body.mobile ul.nav-child {
		width: 250px;	
	}
	body#body:not(.mobile) nav.mainMenu {
	    box-shadow: 0px 10px 40px -20px #333;
	}
	body#body.mobile button#mobileBtn.open .icon-bar:nth-child(1) {
		transform: rotate(-45deg) translate(-5px, 10px);
	}
	body#body.mobile button#mobileBtn.open .icon-bar:nth-child(2) {
		display: none;
	}
	body#body.mobile button#mobileBtn.open .icon-bar:nth-child(3) {
		transform: rotate(45deg) translate(5px, 0px);
	}
	body#body.mobile #all ul.nav.menu a,
	body#body.mobile #all ul.nav-child.dropdown-menu.fontForce a {
	    font-size: 14px !important;
	}	
	body#body.mobile nav#mainNav ul.nav-child li {
	    padding: 5px 5px;
	}	
	body#body.mobile nav#mainNav ul.nav.menu {
	    padding: 20px 50px;
	    box-shadow: 0px 35px 40px -25px #444;
	}
	body#body.mobile nav.mainMenu {	
	    -webkit-animation: mobMenuAni 0.8s forwards ease-in-out;	
	            animation: mobMenuAni 0.8s forwards ease-in-out;
	}
	body#body.mobile nav.mainMenu {
		display: none;
		opacity: 0;
		position: absolute;
	    z-index: 1;
	    background: #fff;
	    width: 100%;
	    -webkit-box-shadow: none;
	            box-shadow: none;
	    -webkit-transform: translateY(-10%);
	        -ms-transform: translateY(-10%);
	            transform: translateY(-10%);
	    -webkit-transition: all 0.5s ease-in-out;
	    -o-transition: all 0.5s ease-in-out;
	    transition: all 0.5s ease-in-out;
	}
	
	@-webkit-keyframes mobMenuAni {
		0% { opacity: 0; }
		60%{ -webkit-transform: translateY(0%); transform: translateY(0%); }
		100%{ opacity: 1; -webkit-transform: translateY(0%); transform: translateY(0%); }
	}
	@keyframes mobMenuAni {
		0% { opacity: 0; }
		60%{ -webkit-transform: translateY(0%); transform: translateY(0%); }
		100%{ opacity: 1; -webkit-transform: translateY(0%); transform: translateY(0%); }
	}		
	body#body.mobile span.icon-bar {
	    width: 45px;
	    height: 3px;
	    background: #b4130e;
	    margin-bottom: 5px;
	    display: block;
	}	
	body#body.mobile button.mobile.btn {
	    display: block;
	    position: relative;
	    z-index: 1;
	    width: 45px;
	    height: 45px;
	    margin: 20px 0px 0px 20px;
	    background: transparent;
	    border: none;
	}	
	body#body #contentarea,
	body#body #contentarea2 {
		overflow: visible;
	}
	body#body.mobile li.deeper.parent:before {
		content: initial;
/*	    left: 94px;
	    right: initial;*/
	}	
	body#body.mobile ul.nav-child {
	    position: initial;
	    box-shadow: none;
	    border: none;
	    display: block;
	    margin-left: 30px;
	    list-style: none;
	}	
	body#body.mobile nav.mainMenu ul.nav.menu>li {
	    display: block;
	    padding: 5px 0px;
	}	
	body#body.mobile button.mobile.btn {
	    display: block;
	}	
	body#body.mobile div#all {
	    height: auto;
	    width: 99vw;
	}
}
@media(min-width: 1367px) {
	body#body #wrapper2 .item-page {
	    max-width: initial;
	}
	body#body #wrapper2 #main {
	    width: 762px;
	    margin: 0 auto;
	}	
	div#breadcrumbs {
	    padding-left: 50px;
	}
	button.mobile.btn {
	    display: none;
	}
}